################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/NNFire/v15
/src/NNFire.Console/x64/Debug
/src/x64
/src/NNFire/x64/Debug
